


.calculate{
    background-color: blueviolet;
    color:white;
    width:50%;
    padding:10px;
    margin: 20px auto;
}
form{
    text-align: center;
}
.calculate .form-group{
    width:45%;
    margin:10px;
    display: inline-block;
}
.calc{
    background-color: white;
    border: 1px solid black;
    margin:  20px auto;
    display: block;
}